

@import url('https://fonts.googleapis.com/css2?family=sans:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;

}

.container{
    position: relative;
    width: 90%;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: white;
    display: flex;
}

.container > .leftside{
    position: relative;
    flex: 25%;
}

.leftside > .header{
    width: 100%;
    height: 60px;
    background-color: #242526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userImg{
    position: relative;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.userImg > .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-icon{
    display: flex;
}
.nav-icon > li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    color: rgba(219, 47, 124, 1.0);
    font-size: 1.2rem;
    margin-left: 22px;
}

/* chat list here */

.chatlist{
    position: relative;
    height: calc(100% - 100px);  /* 60px + 40px*/
    overflow-y: auto;
}

.chatlist > .block{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #242526;
    cursor: pointer;
    background-color: #18191a;
}

.chatlist > .block > .imgbx{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
.chatlist > .block > .imgbx > .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatlist > .block > .details{
    position: relative;
    width: 100%;
}

.chatlist > .block > .details > .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist > .block > .details > .listHead > h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'poppins' sans-serif;
    color: #fff;
}

.chatlist > .block > .details > .listHead > .time{
    font-size: 11px;
    color: #aaa;
    text-transform: capitalize;
}

.chatlist > .block.unread > .details > .listHead > .time{
    color: rgba(219, 47, 124, 1.0);
}
.message-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-p > p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 11px;
    font-family: 'poppins' sans-serif;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;

}

.message-p > h8{
    background-color: rgba(219, 47, 124, 1.0);
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 9.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}



@media only screen and (max-width: 768px){


    body{
        height: 100%;
    }
    .container{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .leftside{
        display: block;
        width: 100%;
    }
    
    .container > .rightside{
        display: none;
    }

    .header{
        width: 100%;
        height: 54px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 10;
    }
    .header > .userImg{
        position: relative;
        width: 35px;
        height: 35px;
    }
    .header > .nav-icon > li{
        font-size: 16px;
    }

    .chatlist{
        width: 100%;
        margin-top: 55px;
    }

    .chatlist > .block{
        width: 100%;
        padding: 13px;
        border-bottom: 1px solid #242526;
    }
    
    .chatlist > .block > .imgbx{
        min-width: 37px;
        height: 37px;
    }

    .chatlist > .block > .details > .listHead > h5{
        font-size: 13px;
    }
    .chatlist > .block > .details > .message-p > p{
        font-size: 12px;
    }

}

@media only screen and (max-width: 932px){

    body{
        height: 100%;
    }
    .container{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .leftside{
        display: block;
        width: 100%;
    }
    
    .container > .rightside{
        display: none;
    }

    .header{
        width: 100%;
        height: 54px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 10;
    }
    .header > .userImg{
        position: relative;
        width: 35px;
        height: 35px;
    }
    .header > .nav-icon > li{
        font-size: 16px;
    }

    .chatlist{
        width: 100%;
        margin-top: 56px;
    }

    .chatlist > .block{
        width: 100%;
        padding: 13px;
        border-bottom: 1px solid #242526;
    }
    
    .chatlist > .block > .imgbx{
        min-width: 37px;
        height: 37px;
    }

    .chatlist > .block > .details > .listHead > h5{
        font-size: 13px;
    }
    .chatlist > .block > .details > .message-p > p{
        font-size: 12px;
    }

}
