

@import url('https://fonts.googleapis.com/css2?family=sans:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;

}

.container{
    position: relative;
    width: 90%;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: white;
    display: flex;
}


/* chatting box here */

.container > .rightside{
    position: relative;
    flex: 70%;
    background-color: #e5ddd5;
    border-left: 1px solid #e5ddd5;
}

.container > .rightside::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../IMAGES/whats.image.png) ;
    opacity: 0.10;
}
.rightside > .header{
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.rightside > .header > .ImgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside > .header > .ImgText > h5{
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'poppins' sans-serif;
    font-weight: 500;
    line-height: 15px;
    margin-left: 15px;
}

.rightside > .header > .ImgText > h5 > span{
    font-size: 10px;
    color: #51585c;
}



@media only screen and (max-width: 768px){

    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .leftside{
        display: block;
        width: 100%;
        height: 100vh;
    }
    

    .container > .rightside{
        display: none;
    }

    .header{
        width: 100%;
        height: 50px;
    }

    .header > .userImg{
        position: relative;
        width: 30px;
        height: 30px;
    }
    .header > .nav-icon > li{
        font-size: 12px;
    }
    .leftside > .search-chat{
        width: 100%;
    }

    .leftside > .search-chat > div > input{
        width: 100%;
        padding: 5px;
        height: 30px;
        font-size: 11px;
        padding-left: 40px;
    }
    .leftside > .search-chat > div > i{
        font-size: 10px;
        top: 15px;
    }

    .chatlist{
        width: 100%;
    }

    .chatlist > .block{
        width: 100%;
        padding: 13px;
    }
    
    .chatlist > .block > .imgbx{
        min-width: 37px;
        height: 37px;
    }
    .chatlist > .block > .imgbx > .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .chatlist > .block > .details > .listHead > h5{
        font-size: 11px;
    }
    .chatlist > .block > .details > .message-p > p{
        font-size: 10px;
    }

}

@media only screen and (max-width: 932px){

    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container > .leftside{
        display: block;
        width: 100%;
        height: 100vh;
    }
    

    .container > .rightside{
        display: none;
    }

    .header{
        width: 100%;
        height: 50px;
    }

    .header > .userImg{
        position: relative;
        width: 30px;
        height: 30px;
    }
    .header > .nav-icon > li{
        font-size: 12px;
    }
    .leftside > .search-chat{
        width: 100%;
    }



    .leftside > .search-chat > div > input{
        width: 100%;
        padding: 5px;
        height: 30px;
        font-size: 11px;
        padding-left: 40px;
    }
    .leftside > .search-chat > div > i{
        font-size: 10px;
        top: 15px;
    }

    .chatlist{
        width: 100%;
    }

    .chatlist > .block{
        width: 100%;
        padding: 13px;
    }
    
    .chatlist > .block > .imgbx{
        min-width: 37px;
        height: 37px;
    }
    .chatlist > .block > .imgbx > .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .chatlist > .block > .details > .listHead > h5{
        font-size: 11px;
    }
    .chatlist > .block > .details > .message-p > p{
        font-size: 10px;
    }

    
}
